@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.completed {
  background: none;
  @include padding-size(-2);
  color: var(--success-color);
}

.incomplete {
  background: none;
  @include padding-size(-2);
  color: var(--failure-color);
}
